@import url('https://fonts.googleapis.com/css?family=Oranienbaum');
@import url('https://fonts.googleapis.com/css?family=Assistant:300,400');

.App-intro {
  font-size: large;
  margin-left: 5px !important;
}

.App {
    height: 100%;
    background-size: cover;
}

html, body {
    height: 100%!important;
    background-color: #FFFFFF!important;
    background-size: cover!important;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.Content {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 6rem;
}

.nav-bar {
    padding-top: 20px;
    padding-left: 4rem;
    padding-right: 6rem;
}

.nav-items {
    font-family: 'Avenir-Roman', Lato, sans-serif;
    font-size: 14px;
    color: #27215C!important;
}

.nav-items .logo {
    padding-left: 10px!important;
}

.nav-items a:hover {
    background-color: transparent!important;
    color: hsl(315, 48%, 38%)!important;
    font-family: 'Avenir-Medium', Lato, sans-serif;
    letter-spacing: .6px;
}

.nav-items .item {
    margin: 0px 15px 0px!important;
    letter-spacing: .5px;
}

.footer {
    width: 100%;
    background-color: #F7F7F7;
    bottom: 0;
    position: absolute;
    height: 4rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.copywrite {
    font-family: 'Avenir-Light', Lato, sans-serif;
    font-size: 14px;
    margin-right: 2.5rem;
    color: #828282;
    letter-spacing: .5px;
}

.icon-group {
    margin-top: 1.25rem;
}

.icon-group > a {
    padding: 0 .5rem;
    color: #828282;
    opacity: .75;
}

.icon-group > a:hover {
    color: hsl(246, 37%, 49%);
}

.inline-block {
    display: inline-block;
}

.title {
    font-size: 2.25rem!important;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-family: 'Avenir-Heavy', Lato, sans-serif;
    color: hsl(247, 44%, 32%);
    letter-spacing: 1px;
}

h1 span {
    font-size: 3rem!important;
    line-height: 1.5;
}

.about-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.about-text {
    flex-basis: 450px;
    max-width: 60%;
    flex-grow: 1;
}

.blurb {
    font-size: 16px;
    font-family: 'Avenir', Lato, sans-serif;
    line-height: 1.8!important;
    color: #444444;
    margin-bottom: 1.5em!important;
}

.about-image {
    flex-basis: 350px;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.info-link {
    color: 	hsl(247, 42%, 40%);
    border-bottom: 1px solid #828282;
}

.info-link:hover {
   color:	hsl(315, 58%, 27%)
}


@media only screen and (max-width: 785px) {
    .Content {
        width: 90%;
    }

    .about-text {
        width: 100%;
    }

    .nav-bar {
        padding-top: 15px;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .nav-items {
        font-size: 14px;
    }

    .nav-items .item {
        margin: 0px 3px 0px!important;
    }

    .about-text {
        max-width: 100%;
    }

    .about-image {
        padding-bottom: 3rem;
    }

    .copywrite {
        margin-right: 3rem;
    }
}

.height-100 {
    height: 100%;
}

padding-none {
    padding: 0px!important;
}
