@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Oranienbaum');

.App-intro {
  font-size: large;
  margin-left: 5px !important;
}

.App {
    height: 100%;
    background-size: cover;
}

.Content {
    width: 100%;
}

.name-header {
    font-size: 68px;
    font-family: 'Oranienbaum', serif;
    /* font-weight: 400; */
    padding-top: 3rem;
    color:#333333;
    text-align: left;
    margin-bottom: none!important;
    line-height: 1;
}

#root {
    height: 100%;
}

.side-bar-container {
    border-right: 1.25px solid #ebefea;
    width: 250px;
    position: fixed;
    height: 100%;
    bottom: 0;
    top: 0;
}

.top-header {
    margin-left: 2rem; 
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    color: #828282;
}

.bottom-header {
    margin-left: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    bottom: 0 !important;
    position: fixed;
    display: block;
    padding-bottom: 40px;
}

.sidebar-links {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important; 
}

.sidebar-links > a {
    color: #332957;
}

.sidebar-links > a:hover {
    color: #555555;
}

.main-container {
    padding-top: 15px;
    padding-left: 30px;
    text-align: center;
    margin-left: 250px;
}

.info-container {
    margin-top: 3rem;
    padding-left: 3rem;
}

.info-container > p {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #828282;
}

@media only screen and (max-width: 768px) {
    .main-container {
        margin-left: 0;
    }
}

.header-buttons {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 16px!important;
    margin-right: .5rem!important;
    box-shadow: none!important;
}

.grid {
    margin-left: 0px !important;
}

.height-100 {
    height: 100%;
}

padding-none {
    padding: 0px!important;
}
