@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto+Slab:300,400');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.App-intro {
  font-size: large;
  margin-left: 5px !important;
}

.App {
    /* background-color: #E9EBEC; */
    height: 100%;
    background-size: cover;
    /* margin: 3rem auto; */
    /* max-width: 600px; */
}

.Content {
    /* width: 1000px;
    margin-left: auto;
    margin-right: auto; */
    width: 100%;
}

.name-header {
    font-size: 64px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin-top: 3rem;
    color:#555555;
    text-align: left;
    /* font-variant: small-caps; */
    margin-bottom: none!important;
}

#root {
    height: 100%;
}

.side-bar-container {
    border-right: 1.25px solid #ebefea;
    width: inherit;
    position: fixed;
    height: 100%;
    bottom: 0;
    top: 0;
}

.top-header {
    margin-left: 2rem; 
}

.subheader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    color: #333399;
}

.bottom-header {
    margin-left: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    bottom: 0 !important;
    position: fixed;
    display: block;
    padding-bottom: 40px;
}

.sidebar-links {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important; 
}

.sidebar-links > a {
    color: #555555;
}

.sidebar-links > a:hover {
    color: #5D3F61;
}

.info-container {
    padding-top: 15px;
    padding-left: 30px;
    text-align: center;
}

.header-buttons {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 16px!important;
    margin-right: .5rem!important;
    box-shadow: none!important;
}

.grid {
    margin-left: 0px !important;
}

.height-100 {
    height: 100%;
}

padding-none {
    padding: 0px!important;
}
